.pagination {
    display: flex;
    justify-content: center;
    padding: 2px 2px 5px;
    width: 500px;

}

.pages {
    display: flex;
	height: 30px;
    list-style-type:none;
    justify-content: center;
	padding: 0 20px 4px;
}

.pageBtn {
    cursor: pointer;
    display: flex;    
    padding: 10px;
    justify-content: center;
	background-color: darkgray;
    color:  black;
    border-radius: 5px;
    margin: 6px;
    font-style: italic;
    font-weight: 700;    
    height: 30px;    
	font-size: 15px;	
	line-height: 25px;
    font-weight: 600;
    padding: 3px;
    
} 
